<a href="https://colab.research.google.com/github/vishnudatt18/pandas_project/blob/main/pandas_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [103]:
import pandas as pd
import numpy as np

In [104]:
# Load the dataset and print the shape, column names, and data types.
df  = pd.read_csv(r'/content/drive/MyDrive/GNE AI COLAB/nlp/Advanced_Dirty_Sales_Dataset.csv')

In [105]:
# Show the first 5 rows of the dataset.
df.head(5)

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
0,44770,8192,@ charlie !,Keyboard,Electronics,1,$870.54,32/13/2023,PHOENIX#123,South,False,870.54
1,23355,9138,@ charlie !,Monitor,Electronics,5,$144.02,05-02-2024,HOUSTON#123,West,False,720.1
2,75847,4098,@ charlie !,Laptop,Accessories,3,$557.79,11/08/2024,NEW YORK#123,East,False,1673.37
3,95176,2391,@ eva !,Monitor,Electronics,5,$552.2,32/13/2023,CHICAGO#123,North,False,2761.0
4,1854,8842,@ eva !,Laptop,Accessories,4,$411.2,32/13/2023,CHICAGO#123,East,False,1644.8

In [106]:
# Load the dataset and print the shape, column names, and data types.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100100 entries, 0 to 100099
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   OrderID       100100 non-null  int64
 1   CustomerID    100100 non-null  int64
 2   CustomerName  100100 non-null  object
 3   Product       98099 non-null   object
 4   Category      98097 non-null   object
 5   Quantity      100100 non-null  object
 6   Price         99099 non-null   object
 7   OrderDate     100100 non-null  object
 8   City          98098 non-null   object
 9   Region        100100 non-null  object
 10  Returned      100100 non-null  bool
 11  TotalAmount   100100 non-null  object
dtypes: bool(1), int64(2), object(9)
memory usage: 8.5+ MB

In [107]:
# Display the total number of unique customers.
df['CustomerName'].value_counts()

CustomerName
@ bob !        20244
@ eva !        20000
@ alice !      19974
@ david !      19954
@ charlie !    19928
Name: count, dtype: int64

In [108]:
# Show all unique product categories and count them.
df['Category'].value_counts()

Category
Electronics    49205
Accessories    48892
Name: count, dtype: int64

In [109]:
# Filter all orders made in the city of "Los Angeles".
df[df['City'] == 'LOS ANGELES#123']

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
5,56788,6935,@ david !,Monitor,Electronics,1,$415.12,"October 06, 2024",LOS ANGELES#123,West,False,415.12
18,86339,3999,@ eva !,Laptop,Electronics,9,$1070.42,2024-04-29,LOS ANGELES#123,West,False,9633.78
19,64556,4509,@ charlie !,Laptop,Electronics,1,$1093.26,05-21-2024,LOS ANGELES#123,East,False,1093.26
21,87250,2818,@ alice !,Phone,Electronics,3,$1188.93,"February 27, 2024",LOS ANGELES#123,North,True,3566.79
25,79725,5498,@ eva !,Tablet,Electronics,1,$686.06,24/09/2023,LOS ANGELES#123,North,False,686.06
...,...,...,...,...,...,...,...,...,...,...,...,...
100078,17979,4338,@ eva !,Monitor,Electronics,5,$491.53,23/09/2024,LOS ANGELES#123,North,False,2457.65
100080,62097,3467,@ eva !,Laptop,Accessories,4,$274.01,32/13/2023,LOS ANGELES#123,West,False,1096.04
100084,57768,5902,@ bob !,Laptop,Electronics,9,$618.35,32/13/2023,LOS ANGELES#123,West,False,5565.150000000001
100092,6769,5466,@ eva !,Keyboard,Accessories,3,$752.28,2023-08-09,LOS ANGELES#123,West,False,2256.84
100097,7354,2439,@ bob !,Laptop,Electronics,8,$330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68

In [110]:
df.loc[df['City'] == 'LOS ANGELES#123']

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
5,56788,6935,@ david !,Monitor,Electronics,1,$415.12,"October 06, 2024",LOS ANGELES#123,West,False,415.12
18,86339,3999,@ eva !,Laptop,Electronics,9,$1070.42,2024-04-29,LOS ANGELES#123,West,False,9633.78
19,64556,4509,@ charlie !,Laptop,Electronics,1,$1093.26,05-21-2024,LOS ANGELES#123,East,False,1093.26
21,87250,2818,@ alice !,Phone,Electronics,3,$1188.93,"February 27, 2024",LOS ANGELES#123,North,True,3566.79
25,79725,5498,@ eva !,Tablet,Electronics,1,$686.06,24/09/2023,LOS ANGELES#123,North,False,686.06
...,...,...,...,...,...,...,...,...,...,...,...,...
100078,17979,4338,@ eva !,Monitor,Electronics,5,$491.53,23/09/2024,LOS ANGELES#123,North,False,2457.65
100080,62097,3467,@ eva !,Laptop,Accessories,4,$274.01,32/13/2023,LOS ANGELES#123,West,False,1096.04
100084,57768,5902,@ bob !,Laptop,Electronics,9,$618.35,32/13/2023,LOS ANGELES#123,West,False,5565.150000000001
100092,6769,5466,@ eva !,Keyboard,Accessories,3,$752.28,2023-08-09,LOS ANGELES#123,West,False,2256.84
100097,7354,2439,@ bob !,Laptop,Electronics,8,$330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68

In [111]:
df['City'].value_counts()

City
NEW YORK#123       19781
PHOENIX#123        19771
CHICAGO#123        19615
LOS ANGELES#123    19519
HOUSTON#123        19412
Name: count, dtype: int64

In [112]:
# Convert OrderDate to datetime type.
df['OrderDate'] = pd.to_datetime(df['OrderDate'], errors='coerce')
display(df.info())

/tmp/ipython-input-977013690.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['OrderDate'] = pd.to_datetime(df['OrderDate'], errors='coerce')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100100 entries, 0 to 100099
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   OrderID       100100 non-null  int64
 1   CustomerID    100100 non-null  int64
 2   CustomerName  100100 non-null  object
 3   Product       98099 non-null   object
 4   Category      98097 non-null   object
 5   Quantity      100100 non-null  object
 6   Price         99099 non-null   object
 7   OrderDate     80028 non-null   datetime64[ns]
 8   City          98098 non-null   object
 9   Region        100100 non-null  object
 10  Returned      100100 non-null  bool
 11  TotalAmount   100100 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(2), object(8)
memory usage: 8.5+ MB

None

In [113]:
# Select orders where quantity is more than 5.
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
df_filtered = df[df['Quantity'] > 5]
display(df_filtered.shape)

(43860, 12)

In [114]:
# Add a new column UnitTotal = Quantity * Price and compare with TotalAmount. Flag mismatches.
df['Price'] = df['Price'].astype(str).str.replace('$', '', regex=False)
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Unit_total'] = df['Quantity'] * df['Price']
display(df['Unit_total'].head())

0     870.54
1     720.10
2    1673.37
3    2761.00
4    1644.80
Name: Unit_total, dtype: float64

In [115]:
# Create a new column DiscountApplied (True if UnitTotal > TotalAmount).
df['TotalAmount'] = pd.to_numeric(df['TotalAmount'], errors='coerce')
df['DiscountApplied'] = df['Unit_total'] > df['TotalAmount']
display(df.head())

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,Unit_total,DiscountApplied
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,870.54,False
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,2024-05-02,HOUSTON#123,West,False,720.10,720.10,False
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-11-08,NEW YORK#123,East,False,1673.37,1673.37,False
3,95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,NaT,CHICAGO#123,North,False,2761.00,2761.00,False
4,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,CHICAGO#123,East,False,1644.80,1644.80,False

In [116]:
# Show top 5 cities by number of orders.
top_5_cities = df['City'].value_counts().head()
display(top_5_cities)

City
NEW YORK#123       19781
PHOENIX#123        19771
CHICAGO#123        19615
LOS ANGELES#123    19519
HOUSTON#123        19412
Name: count, dtype: int64

In [117]:
# Filter all returned orders.
returned_orders = df[df['Returned'] == True]
display(returned_orders.head())

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,Unit_total,DiscountApplied
7,79506,3389,@ alice !,Phone,Accessories,9.0,674.73,2024-07-14,HOUSTON#123,North,True,6072.57,6072.57,False
15,5103,1382,@ eva !,Phone,Accessories,1.0,504.94,2023-03-07,NEW YORK#123,West,True,504.94,504.94,False
21,87250,2818,@ alice !,Phone,Electronics,3.0,1188.93,2024-02-27,LOS ANGELES#123,North,True,3566.79,3566.79,False
31,81349,3421,@ eva !,Laptop,Accessories,7.0,1383.91,2024-05-18,LOS ANGELES#123,West,True,9687.37,9687.37,False
53,50549,8174,@ eva !,Monitor,Electronics,5.0,1358.43,NaT,HOUSTON#123,South,True,6792.15,6792.15,False

In [118]:
# Drop the column DiscountApplied after saving it to a variable.
discount_applied_series = df['DiscountApplied']
df = df.drop(columns=['DiscountApplied'])
display(df.head())
display(discount_applied_series.head())

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,Unit_total
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,870.54
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,2024-05-02,HOUSTON#123,West,False,720.10,720.10
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-11-08,NEW YORK#123,East,False,1673.37,1673.37
3,95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,NaT,CHICAGO#123,North,False,2761.00,2761.00
4,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,CHICAGO#123,East,False,1644.80,1644.80

0    False
1    False
2    False
3    False
4    False
Name: DiscountApplied, dtype: bool

In [119]:
# What are the top 3 most sold products (by quantity)?
top_3_products = df.groupby('Product')['Quantity'].sum().nlargest(3)
display(top_3_products)

Product
Phone       97697.0
Laptop      97501.0
Keyboard    96835.0
Name: Quantity, dtype: float64

In [120]:
# Rename CustomerName to CustName and revert it.
df = df.rename(columns={'CustomerName': 'CustName'})
display(df.head())

,OrderID,CustomerID,CustName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,Unit_total
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,870.54
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,2024-05-02,HOUSTON#123,West,False,720.10,720.10
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-11-08,NEW YORK#123,East,False,1673.37,1673.37
3,95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,NaT,CHICAGO#123,North,False,2761.00,2761.00
4,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,CHICAGO#123,East,False,1644.80,1644.80

In [121]:
# Revert CustomerName to original name.
df = df.rename(columns={'CustName': 'CustomerName'})
display(df.head())

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,Unit_total
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,870.54
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,2024-05-02,HOUSTON#123,West,False,720.10,720.10
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-11-08,NEW YORK#123,East,False,1673.37,1673.37
3,95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,NaT,CHICAGO#123,North,False,2761.00,2761.00
4,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,CHICAGO#123,East,False,1644.80,1644.80

In [122]:
# Check and count missing values in each column.
df.isnull().sum()

OrderID             0
CustomerID          0
CustomerName        0
Product          2001
Category         2003
Quantity         1001
Price            1001
OrderDate       20072
City             2002
Region              0
Returned            0
TotalAmount      1001
Unit_total       1001
dtype: int64

In [123]:
# 16. Fill missing values in City (if any) with "Unknown".
df['City'].fillna('Unknown', inplace=True)
df['City'].isnull().sum()

/tmp/ipython-input-4084178660.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna('Unknown', inplace=True)

np.int64(0)

In [124]:
# 17. Remove duplicates based on OrderID.
print(f"Number of rows before removing duplicates: {df.shape[0]}")
df.drop_duplicates(subset=['OrderID'], inplace=True)
print(f"Number of rows after removing duplicates: {df.shape[0]}")

Number of rows before removing duplicates: 100100
Number of rows after removing duplicates: 100000

In [125]:
# 18. Sort the data by TotalAmount in descending order
df_sorted = df.sort_values(by='TotalAmount', ascending=False)
display(df_sorted.head())

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,Unit_total
99875,78404,2864,@ bob !,Laptop,Accessories,9.0,1499.99,2024-07-06,PHOENIX#123,West,False,13499.91,13499.91
47882,27909,1707,@ david !,Monitor,Electronics,9.0,1499.95,2024-01-28,CHICAGO#123,West,False,13499.55,13499.55
75618,63782,7708,@ david !,Keyboard,Electronics,9.0,1499.74,2024-06-07,NEW YORK#123,West,False,13497.66,13497.66
55578,49344,4338,@ david !,Keyboard,Electronics,9.0,1499.20,2023-02-13,NEW YORK#123,South,False,13492.80,13492.80
53794,34029,3759,@ bob !,Laptop,Electronics,9.0,1499.17,NaT,PHOENIX#123,East,False,13492.53,13492.53

In [126]:
# 21.Create a new column OrderMonth with full month names.
df['OrderYear'] = df['OrderDate'].dt.year
df['OrderMonth'] = df['OrderDate'].dt.strftime('%B')
display(df.head())

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,Unit_total,OrderYear,OrderMonth
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,870.54,NaN,NaN
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,2024-05-02,HOUSTON#123,West,False,720.10,720.10,2024.0,May
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-11-08,NEW YORK#123,East,False,1673.37,1673.37,2024.0,November
3,95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,NaT,CHICAGO#123,North,False,2761.00,2761.00,NaN,NaN
4,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,CHICAGO#123,East,False,1644.80,1644.80,NaN,NaN

In [127]:
# 20. Extract year and month from OrderDate
df['OrderYear'] = df['OrderDate'].dt.year
df['OrderMonthNum'] = df['OrderDate'].dt.month
display(df[['OrderDate', 'OrderYear', 'OrderMonthNum']].head())

   OrderDate  OrderYear  OrderMonthNum
0        NaT        NaN            NaN
1 2024-05-02     2024.0            5.0
2 2024-11-08     2024.0           11.0
3        NaT        NaN            NaN
4        NaT        NaN            NaN

In [128]:
# 22. Show all orders from Q1 of any year (Janâ€“Mar).
q1_orders = df[df['OrderMonthNum'].isin([1, 2, 3])]
display(q1_orders.head())

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,Unit_total,OrderYear,OrderMonth,OrderMonthNum
15,5103,1382,@ eva !,Phone,Accessories,1.0,504.94,2023-03-07,NEW YORK#123,West,True,504.94,504.94,2023.0,March,3.0
21,87250,2818,@ alice !,Phone,Electronics,3.0,1188.93,2024-02-27,LOS ANGELES#123,North,True,3566.79,3566.79,2024.0,February,2.0
24,90538,2124,@ david !,Keyboard,Accessories,4.0,898.16,2023-03-01,PHOENIX#123,West,False,3592.64,3592.64,2023.0,March,3.0
43,48638,4913,@ charlie !,Tablet,Electronics,3.0,330.45,2024-01-12,LOS ANGELES#123,East,False,991.35,991.35,2024.0,January,1.0
49,66090,6049,@ david !,Keyboard,Electronics,6.0,822.84,2024-02-22,LOS ANGELES#123,South,False,4937.04,4937.04,2024.0,February,2.0

In [129]:
# 23.Count number of orders for each region.
orders_by_region = df['Region'].value_counts()
display(orders_by_region)

Region
East     25098
North    25022
South    24998
West     24882
Name: count, dtype: int64

In [130]:
# 24.Display all customers who bought both "Phone" and "Laptop".
phone_buyers = set(df[df['Product'] == 'Phone']['CustomerID'].unique())
laptop_buyers = set(df[df['Product'] == 'Laptop']['CustomerID'].unique())

common_customers = phone_buyers.intersection(laptop_buyers)

both_products_customers_df = df[df['CustomerID'].isin(common_customers)]

unique_customer_names = both_products_customers_df['CustomerName'].unique()

print("Customers who bought both Phone and Laptop:")
for name in unique_customer_names:
    print(name)

Customers who bought both Phone and Laptop:
@ charlie !
@ eva !
@ david !
@ bob !
@ alice !

In [131]:
# 25.Convert all city names to uppercase and restore them back.
df['City'] = df['City'].str.upper()
display(df.head())

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,Unit_total,OrderYear,OrderMonth,OrderMonthNum
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,870.54,NaN,NaN,NaN
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,2024-05-02,HOUSTON#123,West,False,720.10,720.10,2024.0,May,5.0
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-11-08,NEW YORK#123,East,False,1673.37,1673.37,2024.0,November,11.0
3,95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,NaT,CHICAGO#123,North,False,2761.00,2761.00,NaN,NaN,NaN
4,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,CHICAGO#123,East,False,1644.80,1644.80,NaN,NaN,NaN

In [132]:
# 25.Convert all city names to uppercase and restore them back.
df['City'] = df['City'].apply(lambda x: x.title() if isinstance(x, str) else x)
display(df.head())

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,Unit_total,OrderYear,OrderMonth,OrderMonthNum
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,Phoenix#123,South,False,870.54,870.54,NaN,NaN,NaN
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,2024-05-02,Houston#123,West,False,720.10,720.10,2024.0,May,5.0
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-11-08,New York#123,East,False,1673.37,1673.37,2024.0,November,11.0
3,95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,NaT,Chicago#123,North,False,2761.00,2761.00,NaN,NaN,NaN
4,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,Chicago#123,East,False,1644.80,1644.80,NaN,NaN,NaN

In [133]:
# 26. Find average price of each category.
average_price_by_category = df.groupby('Category')['Price'].mean()
display(average_price_by_category)

Category
Accessories    801.420981
Electronics    799.062436
Name: Price, dtype: float64

In [134]:
# 27.Use groupby() to find total sales by Region.
total_sales_by_region = df.groupby('Region')['TotalAmount'].sum()
display(total_sales_by_region)

Region
East     99576789.10
North    98930659.21
South    99021836.16
West     98369402.78
Name: TotalAmount, dtype: float64

In [135]:
# 28. Save only East region data to a CSV file.
east_region_df = df[df['Region'] == 'East']
east_region_df.to_csv('east_region_orders.csv', index=False)
print("East region data saved to 'east_region_orders.csv'")

East region data saved to 'east_region_orders.csv'

In [149]:
# 29. Reset and set index using OrderID.
# Ensure 'OrderID' is a column (if it was the index, reset_index will make it a column).
df = df.reset_index()
# Drop any extra 'index' or 'level_0' columns that might have been created by previous resets
if 'index' in df.columns:
    df = df.drop(columns=['index'])
if 'level_0' in df.columns:
    df = df.drop(columns=['level_0'])
# Set 'OrderID' as the new index.
df = df.set_index('OrderID')
display(df.head())

,CustomerID,CustomerName_x,Product,Category_x,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,Unit_total,OrderYear,OrderMonth,OrderMonthNum,CustomerName_y,Category_y,HighValue
OrderID,,,,,,,,,,,,,,,,,,
44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,Phoenix#123,South,False,870.54,870.54,NaN,NaN,NaN,@ charlie !,Electronics,False
44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,Phoenix#123,South,False,870.54,870.54,NaN,NaN,NaN,@ charlie !,Accessories,False
44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,Phoenix#123,South,False,870.54,870.54,NaN,NaN,NaN,@ charlie !,NaN,False
44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,Phoenix#123,South,False,870.54,870.54,NaN,NaN,NaN,@ eva !,Electronics,False
44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,Phoenix#123,South,False,870.54,870.54,NaN,NaN,NaN,@ eva !,Accessories,False

In [137]:
# 29. Reset and set index using OrderID.
df = df.reset_index()
display(df.head())

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,Unit_total,OrderYear,OrderMonth,OrderMonthNum
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,Phoenix#123,South,False,870.54,870.54,NaN,NaN,NaN
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,2024-05-02,Houston#123,West,False,720.10,720.10,2024.0,May,5.0
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-11-08,New York#123,East,False,1673.37,1673.37,2024.0,November,11.0
3,95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,NaT,Chicago#123,North,False,2761.00,2761.00,NaN,NaN,NaN
4,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,Chicago#123,East,False,1644.80,1644.80,NaN,NaN,NaN

In [138]:
# 30.Display all orders placed on a weekend
weekend_orders = df[df['OrderDate'].dt.dayofweek.isin([5, 6])]
display(weekend_orders.head())

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,Unit_total,OrderYear,OrderMonth,OrderMonthNum
5,56788,6935,@ david !,Monitor,Electronics,1.0,415.12,2024-10-06,Los Angeles#123,West,False,415.12,415.12,2024.0,October,10.0
7,79506,3389,@ alice !,Phone,Accessories,9.0,674.73,2024-07-14,Houston#123,North,True,6072.57,6072.57,2024.0,July,7.0
8,55148,1287,@ david !,Laptop,Accessories,2.0,330.38,2024-09-01,Houston#123,East,False,660.76,660.76,2024.0,September,9.0
9,24564,3745,@ bob !,Tablet,Accessories,8.0,686.34,2023-04-23,Phoenix#123,North,False,5490.72,5490.72,2023.0,April,4.0
10,60114,6368,@ alice !,Laptop,Accessories,3.0,512.79,2023-08-05,New York#123,North,False,1538.37,1538.37,2023.0,August,8.0

In [139]:
# 31. Pivot table: TotalAmount by Region/Category
pivot = df.pivot_table(index='Region', columns='Category', values='TotalAmount', aggfunc='sum')

In [140]:

# 32. Unpivot/melt
unpivot = pivot.reset_index().melt(id_vars='Region', var_name='Category', value_name='TotalAmount')

In [141]:
# 33. Avg Price by Product & Region
print(df.groupby(['Product', 'Region'])['Price'].mean())

Product   Region
Keyboard  East      792.649425
          North     799.906062
          South     802.524754
          West      792.697716
Laptop    East      804.822406
          North     814.809734
          South     801.743241
          West      793.771419
Monitor   East      802.998165
          North     788.871712
          South     793.018953
          West      803.615438
Phone     East      793.711529
          North     800.648342
          South     805.597180
          West      801.076021
Tablet    East      812.075704
          North     807.827802
          South     798.590844
          West      796.121233
Name: Price, dtype: float64

In [142]:
# 34. Min, max, mean quantity per category
print(df.groupby('Category')['Quantity'].agg(['min', 'max', 'mean']))

             min  max      mean
Category
Accessories  1.0  9.0  4.995242
Electronics  1.0  9.0  4.979252

In [143]:
# 35. Lookup: CustomerID & Name
customer_lookup = df[['CustomerID', 'CustomerName']].drop_duplicates()
product_lookup = df[['Product', 'Category']].drop_duplicates()

In [144]:
# 37. Merge lookups (simulate master join)
df = df.merge(customer_lookup, on='CustomerID', how='left').merge(product_lookup, on='Product', how='left')

In [145]:
# 38. Compare original/merged rows
print(len(df), len(df.drop_duplicates()))

1369473 1369473

In [146]:

# 39. Return rate % by region
return_rate = df.groupby('Region').apply(lambda x: x['Returned'].sum() / len(x) * 100)
print(return_rate)

Region
East     10.064490
North     9.754559
South     9.759218
West      9.834522
dtype: float64

/tmp/ipython-input-2688510282.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  return_rate = df.groupby('Region').apply(lambda x: x['Returned'].sum() / len(x) * 100)

In [148]:

# 40. Create HighValue (assuming missing details, likely logical column)
df['HighValue'] = df['TotalAmount'] > 10000  # Adjust threshold as in your assignment